SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=
GEMINI_API_KEY=sua-chave-do-google-aqui

# Microsserviço PDF to MD (Hugging Face Spaces)
PDF_TO_MD_API_URL=https://seu-user-api-extrato-bancario.hf.space
PDF_TO_MD_API_KEY=
